body {
  background-color: #fff;
  color: #666;
}
h1 {
  padding: 8px 16px;
  margin-bottom: 16px;
}

table {
  border-collapse: separate;
  border-spacing: 2px;
}
td,
th {
  padding: 4px 10px;
}
th {
  background-color: #737e5b;
  color: #eee;
}
th:first-child {
  border-radius: 6px 0 0 0;
}
th:last-child {
  border-radius: 0 6px 0 0;
}
td {
  background-color: #ddddd8;
  color: #555;
}
tr.completed td {
  background-color: #999;
  color: #ccc;
}

td.button-container {
  display: flex;
  gap: 8px;
}
button {
  color: #eee;
}
button.edit {
  background-color: #67a;
}
button.delete {
  background-color: #a66;
}
button.edit:hover {
  background-color: #345;
}
button.delete:hover {
  background-color: #533;
}
